<div id="welcomeindex">
  <div class="row" id="intro">
  <div class="col-12">
    <h1 id="welcometitle">Hi. My name is Aren.</h1>
    <br/><br/>
    <p id="quote"> Let us think the unthinkable, let us do the undoable, let us prepare to grapple with the ineffable itself, and see if we may not eff it after all.<br/> -- Douglas Adams.</p>
  </div>
  </div>
<div class ="row" id="open">
<%= link_to 'If you want to know more about me, check out my blog.', controller: 'articles' %>
</div>
</div>
